@font-face {
    font-family: "angel";
    src: url(../fonts/Angel.ttf) format("truetype");
}

@font-face {
    font-family: "screen";
    src: url(../fonts/Screen.ttf) format("truetype");
}


body {
    background-image: url(../images/Untitled.png);
    background-size: 4.2em;
    margin: 0;
    border: 0 ;
    display: flex;
    flex-direction: column;
}

h1 {
    align-self: left;
    margin-left: 25%;
    margin-top: 1em;
    margin-bottom: 0em;

    font-family: screen;
    kerning: 0.1em;
    font-weight: 100;
    color: #881342;
    font-size: 6em ;
}

nav {
    width: 50%;
    align-self: center;
    height: 4em;
    margin: 0;
    padding: 0;
}
nav ul { 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0;
    padding-left: 0px;
    margin: 0;
}

nav li {
    list-style: none;    
}

nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    font-family: screen;
    font-size: 1.5em;
    text-decoration: none;
    color: #cbcbcb;
}
nav a:hover:not(.active) {
    color: rgb(155, 155, 155);
}
nav a.active {
        color: #199f69;
}

#content {
    padding-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


#left {
    width: 20%;
    height: 300px;
}

#middle {
    width: 50%;
    height: 1000px;
}

#right {
    width: 20%;
    height: 500px;
}

.contentBox {
    background-color: #505050;
    border-radius: 2px;
    /* border-style: ridge;
    border-width: 0.4em; */
}