@font-face {
    font-family: "angel";
    src: url(../fonts/angel.ttf) format("truetype");
}

body {
    src: url(../images/angel.ttf);
    background-image: url();
    background-size: 8.2em;
    margin: 0;
    border: 0 ;
    display: flex;
    flex-direction: column;
}

h1 {
    align-self: left;
    margin-left: 25%;
    margin-top: 1em;
    margin-bottom: 0.3em;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 100;
    color: black;
    font-size: 6em ;
}

#content {
    padding-top: em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#left {
    width: 20%;
    height: 300px;

 background-color: #505050;
    border-style: ridge;
    border-width: 0.4em;
}

#middle {
    width: 50%;
    height: 1000px;

    background-color: #505050;
    border-style: ridge;
    border-width: 0.4em;
}

#right {
    width: 20%;
    height: 500px;

 background-color: #505050;
    border-style: ridge;
    border-width: 0.4em;
}